In [23]:
#workshop 2 le 281123
#step1
client1={"Nom":"","Prenom":"","Sexe":"","Solde":""}

In [24]:
#workshop 2 le 281123
#step2
client=[{"Nom":"","Prenom":"","Sexe":"","Solde":""}] #cree le client[0] qui sera le client1
for i in client[0]: #le client[0] (indexé 0) est le client 1
    valeur_client=input("Quel est votre "+i+"?")
    client[0][i]=valeur_client
print ("le client1:")
print (client[0])

le client1:
{'Nom': 'AGUR', 'Prenom': 'Patrick', 'Sexe': 'M', 'Solde': '3000'}

In [25]:
#workshop 2 le 281123
#step3
#creer liste des 12 dictionnaire vides (liste de dictionnaire)
client=[{"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""},
        {"Nom":"","Prenom":"","Sexe":"","Solde":""}]

In [ ]:
#workshop 2 le 281123
#step4
#Créer une boucle pour récupérer les données de tous les clients. Exécuter la pour entrer leurs données directement en console.
for j in range(1,13): #for j in range(1,12): #on commence par l'index 1 car on a deja alimenté le client[0] => le client[1] sera le client 2...
        for i in client[j]:
                valeur_client=input("Quel est votre "+i+"?")
                client[j][i]=valeur_client
        print ("le client",j+1) #j+1 pour l'affichage le client 1, client 2...
        print (client[j])

In [36]:
client=[{'Nom': 'AGUR', 'Prenom': 'Patrick', 'Sexe': 'M', 'Solde': '3000'},
{'Nom': 'JANAZ', 'Prenom': 'Bartosz', 'Sexe': 'M', 'Solde': '2000'},
{'Nom': 'BAYARCHULUUN', 'Prenom': 'MUNKHERDENE', 'Sexe': 'M', 'Solde': '1500'},
{'Nom': 'BONNIN', 'Prenom': 'PHILIPPE', 'Sexe': 'M', 'Solde': '4500'},
{'Nom': 'CARREY', 'Prenom': 'RAPHAEL', 'Sexe': 'M', 'Solde': '5000'},
{'Nom': 'CHELEDNIK', 'Prenom': 'ALEXANDRE', 'Sexe': 'M', 'Solde': '3500'},
{'Nom': 'CHIKRI', 'Prenom': 'HASSAN', 'Sexe': 'M', 'Solde': '2500'},
{'Nom': 'DESSOLIN', 'Prenom': 'THIBAUT', 'Sexe': 'M', 'Solde': '4000'},
{'Nom': 'LAKHDAR EZZINE ', 'Prenom': 'HADJER', 'Sexe': 'F', 'Solde': '1000'},
{'Nom': 'MEUNIER', 'Prenom': 'ALEXIS', 'Sexe': 'M', 'Solde': '3000'},
{'Nom': 'MOHAMED', 'Prenom': 'AHMED', 'Sexe': 'M', 'Solde': '2500'},
{'Nom': 'SADOUN', 'Prenom': 'SALAH', 'Sexe': 'M', 'Solde': '6000'},
{'Nom': 'THEUREAU', 'Prenom': 'PAUL', 'Sexe': 'M', 'Solde': '4500'}]
for i in range (0,13):
    print("client",i+1,":")
    print(client[i])

client 1 :
{'Nom': 'AGUR', 'Prenom': 'Patrick', 'Sexe': 'M', 'Solde': '3000'}
client 2 :
{'Nom': 'JANAZ', 'Prenom': 'Bartosz', 'Sexe': 'M', 'Solde': '2000'}
client 3 :
{'Nom': 'BAYARCHULUUN', 'Prenom': 'MUNKHERDENE', 'Sexe': 'M', 'Solde': '1500'}
client 4 :
{'Nom': 'BONNIN', 'Prenom': 'PHILIPPE', 'Sexe': 'M', 'Solde': '4500'}
client 5 :
{'Nom': 'CARREY', 'Prenom': 'RAPHAEL', 'Sexe': 'M', 'Solde': '5000'}
client 6 :
{'Nom': 'CHELEDNIK', 'Prenom': 'ALEXANDRE', 'Sexe': 'M', 'Solde': '3500'}
client 7 :
{'Nom': 'CHIKRI', 'Prenom': 'HASSAN', 'Sexe': 'M', 'Solde': '2500'}
client 8 :
{'Nom': 'DESSOLIN', 'Prenom': 'THIBAUT', 'Sexe': 'M', 'Solde': '4000'}
client 9 :
{'Nom': 'LAKHDAR EZZINE ', 'Prenom': 'HADJER', 'Sexe': 'F', 'Solde': '1000'}
client 10 :
{'Nom': 'MEUNIER', 'Prenom': 'ALEXIS', 'Sexe': 'M', 'Solde': '3000'}
client 11 :
{'Nom': 'MOHAMED', 'Prenom': 'AHMED', 'Sexe': 'M', 'Solde': '2500'}
client 12 :
{'Nom': 'SADOUN', 'Prenom': 'SALAH', 'Sexe': 'M', 'Solde': '6000'}
client 13 :
{'Nom': 'THEUREAU', 'Prenom': 'PAUL', 'Sexe': 'M', 'Solde': '4500'}

In [38]:
#workshop 2 le 281123
#step5
#Ecrire un bloc pour effectuer un retrait de 500 euros pour client4
#le client 4 est le client[3] (client indexé liste)
client[3]["Solde"]=int(client[3]["Solde"])-500
print("le client 4:")
print (client[3])

{'Nom': 'BONNIN', 'Prenom': 'PHILIPPE', 'Sexe': 'M', 'Solde': 4000}

In [54]:
#workshop 2 le 281123
#step6
#Ecrire un bloc pour afficher le Solde total
somme=0
for i in range(0,13):
    client[i]["Solde"]=int(client[i]["Solde"])
    somme=client[i]["Solde"]+somme
#affiche le solde total
print("le solde total est de:", somme,"€")

le solde total est de: 42500 €

In [55]:
#workshop 2 le 281123
#step7
#Écrivez un bloc pour compter le nombre de clients féminins et masculins
nb_femme=0
nb_homme=0
for i in range(0,13):
    if client[i]["Sexe"]=="F":
        nb_femme=nb_femme+1
    if client[i]["Sexe"]=="M":
        nb_homme=nb_homme+1
print("Le nombre de femme est:",nb_femme)
print("le nombre d'homme est:",nb_homme)

Le nombre de femme est: 1
le nombre d'homme est: 12

In [56]:
#workshop 2 le 281123
#step8
#Un nouveau client qui arrive KURDY Bassam avec un solde de 2000 euros, il faut l’ajouter dans la base de données avec ou sans méthode
print("Vous allez ajouter un client:")
nom=input("Nom:")
prenom=input("Prenom:")
sexe=input("Sexe:")
solde=input("Solde:")
client.append({"Nom":nom,"Prenom":prenom,"Sexe":sexe,"Solde":solde})
#on peut utiliser la concatenation au lieu d'append

Vous allez ajouter un client:

In [64]:
for i in range (0,len(client)):
    print("client",i+1,":")
    print(client[i])
client #autre maniere d'affciher tous les clients

client 1 :
{'Nom': 'AGUR', 'Prenom': 'Patrick', 'Sexe': 'M', 'Solde': 3000}
client 2 :
{'Nom': 'JANAZ', 'Prenom': 'Bartosz', 'Sexe': 'M', 'Solde': 2000}
client 3 :
{'Nom': 'BAYARCHULUUN', 'Prenom': 'MUNKHERDENE', 'Sexe': 'M', 'Solde': 1500}
client 4 :
{'Nom': 'BONNIN', 'Prenom': 'PHILIPPE', 'Sexe': 'M', 'Solde': 4000}
client 5 :
{'Nom': 'CARREY', 'Prenom': 'RAPHAEL', 'Sexe': 'M', 'Solde': 5000}
client 6 :
{'Nom': 'CHELEDNIK', 'Prenom': 'ALEXANDRE', 'Sexe': 'M', 'Solde': 3500}
client 7 :
{'Nom': 'CHIKRI', 'Prenom': 'HASSAN', 'Sexe': 'M', 'Solde': 2500}
client 8 :
{'Nom': 'DESSOLIN', 'Prenom': 'THIBAUT', 'Sexe': 'M', 'Solde': 4000}
client 9 :
{'Nom': 'LAKHDAR EZZINE ', 'Prenom': 'HADJER', 'Sexe': 'F', 'Solde': 1000}
client 10 :
{'Nom': 'MEUNIER', 'Prenom': 'ALEXIS', 'Sexe': 'M', 'Solde': 3000}
client 11 :
{'Nom': 'MOHAMED', 'Prenom': 'AHMED', 'Sexe': 'M', 'Solde': 2500}
client 12 :
{'Nom': 'SADOUN', 'Prenom': 'SALAH', 'Sexe': 'M', 'Solde': 6000}
client 13 :
{'Nom': 'THEUREAU', 'Prenom': 'PAUL', 'Sexe': 'M', 'Solde': 4500}
client 14 :
[{'Nom': 'KURDY', 'Prenom': 'BASSAM', 'Sexe': 'M', 'Solde': '2000'}]

[{'Nom': 'AGUR', 'Prenom': 'Patrick', 'Sexe': 'M', 'Solde': 3000},
 {'Nom': 'JANAZ', 'Prenom': 'Bartosz', 'Sexe': 'M', 'Solde': 2000},
 {'Nom': 'BAYARCHULUUN', 'Prenom': 'MUNKHERDENE', 'Sexe': 'M', 'Solde': 1500},
 {'Nom': 'BONNIN', 'Prenom': 'PHILIPPE', 'Sexe': 'M', 'Solde': 4000},
 {'Nom': 'CARREY', 'Prenom': 'RAPHAEL', 'Sexe': 'M', 'Solde': 5000},
 {'Nom': 'CHELEDNIK', 'Prenom': 'ALEXANDRE', 'Sexe': 'M', 'Solde': 3500},
 {'Nom': 'CHIKRI', 'Prenom': 'HASSAN', 'Sexe': 'M', 'Solde': 2500},
 {'Nom': 'DESSOLIN', 'Prenom': 'THIBAUT', 'Sexe': 'M', 'Solde': 4000},
 {'Nom': 'LAKHDAR EZZINE ', 'Prenom': 'HADJER', 'Sexe': 'F', 'Solde': 1000},
 {'Nom': 'MEUNIER', 'Prenom': 'ALEXIS', 'Sexe': 'M', 'Solde': 3000},
 {'Nom': 'MOHAMED', 'Prenom': 'AHMED', 'Sexe': 'M', 'Solde': 2500},
 {'Nom': 'SADOUN', 'Prenom': 'SALAH', 'Sexe': 'M', 'Solde': 6000},
 {'Nom': 'THEUREAU', 'Prenom': 'PAUL', 'Sexe': 'M', 'Solde': 4500},
 [{'Nom': 'KURDY', 'Prenom': 'BASSAM', 'Sexe': 'M', 'Solde': '2000'}]]

In [ ]:
#ne pas oublier la clef c'est l'attribut
#une table c'est une liste de dictionnaire
#voir keys value essayer d'utiliser cette methode dans etape4
%whos
%history

In [93]:
#factorielle 6! = 6 * 5 * 4 * 3 * 2 *1
#la factorielle d'un nombre n est définie comme n fois la factorielle du nombre n-1, et la factorielle de 1 est 1.
def fact(n):
    n=int(n)
    print (n)
    if n==1:
        res=1
    else:
        res=int(n*fact(n-1))
    return res
n=int(input("Saisir la variable de factorielle:"))

print ("le factorielle est:",fact(n))

6
5
4
3
2
1
le factorielle est: 720